﻿@page
@model DBMC.Pages.Alert_AddModel
@{
    ViewData["Title"] = "Alert_Add";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">SFTP Web User Interface</h1>
    </div>
</div>
<div class="alert-danger">
    @Model.Message
</div>

<div class="container">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-user"></i>
            @Model.sfuser
            Create a new alert
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-8">
                            <div class="form-label-group">
                                <input type="text" id="txtTitle" class="form-control" placeholder="Title" required="required" autofocus="autofocus">
                                <label for="txtTitle">Message Title:</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-8">
                            <div class="form-label-group">
                                <input type="text" id="txtMessage" class="form-control" placeholder="Message" required="required">
                                <label for="txtMessage">Message:</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required">
                        <label for="inputEmail">Email address</label>
                    </div>
                </div>
                <a class="btn btn-primary btn-block" asp-page="Alert_Add">Save</a>
            </form>
        </div>
    </div>
</div>

