﻿@page 
@model DBMC.Pages.sftpModel
@{
    ViewData["Title"] = "sftp";
    ViewData["Page"] = "sftp";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">SFTP Web User Interface</h1>
    </div>
</div>
<div class="alert-danger">
    @Model.Message
</div>

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-user"></i>
        @Model.sfuser
    </div>
    <div class="card-body">
        <div class="form-group">
            <form action="sftp" method="get">
                <div class="input-group custom-search-form">
                    <input type="search" asp-for="InputSearch" class="form-control" placeholder="Search..."
                           required="required" autofocus="autofocus" />
                    <span class="input-group-btn">
                        <button class="btn btn-default">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>File Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var file in Model.files)
                    {
                        string url = "./sftp?InputSearch=" + @file.Replace(" ", "%20");
                        <tr onclick="window.location='@url';">
                            <td>
                                @file
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/lib/datatables/jquery.dataTables.js"></script>
<script src="~/lib/datatables/dataTables.bootstrap4.js"></script>
<script src="~/js/demo/datatables-demo.js"></script>

